<h3>Liste Residences</h3>

<div class="container">
    <input [(ngModel)]="filterAddress" (input)="filter()" placeholder="Chercher une résidence">
    <br>
    <br>
    <div *ngFor="let residence of filtredResidences">
        <div class="card" style="width: 18rem;margin-bottom: 7px;">
            <img class="card-img-top" [src]="residence.image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">
                    {{residence.name}}
                </h5>
                <div [ngSwitch]="residence.status">
                    <h6 *ngSwitchCase="'Disponible'">✔️Disponible</h6>
                    <h6 *ngSwitchCase="'Vendu'">💰Vendu</h6>
                    <h6 *ngSwitchCase="'En Construction'">🏢En Construction</h6>

                </div>
                <h6 *ngIf="residenceSelected==residence">Address: {{residenceSelected.address}}</h6>
                <div><a [routerLink]="['/apartments/residence/',residence.id]">ApartmentsList</a></div>
            </div>
            <button style="margin-bottom: 5px;" class="btn btn-primary" (click)="showLocation(residence)">Show
                Location</button>

            <button style="margin-bottom: 5px;" class="btn btn-primary" (click)="like(residence)">
                <div *ngIf="!liked||residenceSelected!=residence">👍</div>
                <div *ngIf="liked&&residenceSelected==residence">👎</div>
            </button>

            <button class="btn btn-primary" (click)="details(residence.id)">Détails</button>
        </div>


    </div>
</div>
<router-outlet></router-outlet>